// ** font-weight **
// 100	Thin (Hairline)
// 200	Extra Light (Ultra Light)
// 300	Light
// 400	Normal
// 500	Medium
// 600	Semi Bold (Demi Bold)
// 700	Bold
// 800	Extra Bold (Ultra Bold)
// 900	Black (Heavy)

.font-xl {
  font-size: 30px;
  font-weight: bold;

  @include mq('tab') {
    font-size: 24px;
  }
}

.font-l {
  font-size: 22px;
  font-weight: bold;
}

.font-m {
  font-size: 18px;

  @include mq('tab') {
    font-size: 16px;
  }
}

.font-s {
  font-size: 16px;
}

.font-xs {
  font-size: 12px;
}

.font-xl-en {
  font-family: $ff-mont;
  font-size: 38px;
}

.font-l-en {
  font-family: $ff-mont;
  font-size: 36px;
  font-weight: 600; //semi bold

  @include mq('sp') {
    font-size: 30px;
  }
}

.font-m-en {
  font-family: $ff-mont;
  font-size: 20px;
  font-weight: 600; // semi bold

  @include mq('sp') {
    font-size: 18px;
  }
}

.font-s-en {
  font-family: $ff-mont;
  font-size: 18px;

  @include mq('sp') {
    font-size: 14px;
  }
}

.font-xs-en {
  font-family: $ff-mont;
  font-size: 14px;
}

.fw-medium {
  font-family: $ff-mont;
  font-weight: 500; // Medium
}